{% extends 'my_admin/admin_temp.html' %}
{% load staticfiles %}
{% block head %}
    <link href="{% static 'css/plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{%  static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}
{% block mian %}

<body>
<div class="wrapper wrapper-content animated fadeInRight">
       <div class="ibox float-e-margins">
<div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <h4 class="example-title">文章列表</h4>
                            <div class="example">
                                <div class="alert alert-success" id="examplebtTableEventsResult" role="alert">



                                    事件结果
                                </div>
                                <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <a type="button" class="btn btn-outline btn-default" href="/my_admin/add_Article">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </a>
                                    <button type="button" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline btn-default" id="delect">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="exampleTableEvents" data-height="400" data-mobile-responsive="true">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox=""></th>
                                            <th data-field="name">标题</th>
                                            <th data-field="author">作者</th>
                                             <th data-field="datime">日期</th>
                                            <th data-field="numcilck">点击</th>
                                            <th data-field="classify">分类</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                {% for i in artcle %}
                                    <tr>
                                        <td><input type="checkbox" name="trid" value="{{ i.artid }}"></td>
                                        <td><a href="/my_admin/updateAtrcle?id={{ i.artid }}">{{ i.title }}</a> </td>
                                        <td>{{ i.author }} </td>
                                        <td>{{ i.datime}} </td>
                                        <td>{{ i.numcilck}} </td>
                                        <td>{{ i.classify}} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                                </table>

                            </div>
                        </div>

                        <!-- End Example Events -->
                    </div>
<div class="col-sm-12">
            <div class="btn-group">
                                <a type="button" class="btn btn-white" href="/my_admin/tableArtcle?index={{ indeX |add:-1}}"><i class="fa fa-chevron-left"></i>
                                </a>
                                {% for i in pages %}
                                    {% ifequal i indeX %}
                                      <a class="btn btn-white  active">{{ i }}</a>
                                        {% else  %}
                                     <a class="btn btn-white" href="/my_admin/tableArtcle?index={{ i }}">{{ i }}</a>
                                    {% endifequal %}
                                    {% endfor %}
                                <a type="button" class="btn btn-white" href="/my_admin/tableArtcle?index={{ indeX |add:1}}"><i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
</div>
</div>
           </div>
    </div>
<script>


   $('#delect').click( function () {
         swal({
                    title: "您确定要删除这条信息吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    closeOnConfirm: false
                }, function () {
             var trid_input=document.getElementsByName('trid')
      var check_val=[]
       for(trid in trid_input){
           if(trid_input[trid].checked){
               check_val.push(trid_input[trid].value)

           }
       }
       if(check_val){
           $.ajax(
                   {
                       url:'/my_admin/delAtrcle',
                       type:'post',
                       headers:{'X-CSRFToken':'{{ csrf_token }}'},
                       data:{'tidlist':check_val.join(',')},
                       success:function (arg) {
                     swal("删除成功！", "您已经永久删除了这条信息。", "success");
                           location.reload(true)
                       },

                       error:function () {
                    swal({
                    title: "提示",
                    text: "发生了一个错误"
                });
                       }
                   }
           )
       }

                });

    })
</script>
  <script src="{% static 'js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-table/bootstrap-table-mobile.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <!-- Peity -->
    <script src="{% static 'js/demo/bootstrap-table-demo.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>

</body>
</html>
{% endblock %}